@charset "UTF-8";

body {
    background-color: rgb(139, 208, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: aliceblue;
    background-color: rgb(17, 17, 17);
    font-size: 40px;
}
h2 {
    color: black;
}